<% content_for :main do %>
  <div class="panel panel-default">
    <div class="panel-heading"><i class="fa fa-cog"></i> <%= t 'devise.views.account_settings' %></div>
    <div class="panel-body">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal', method: :put }, wrapper: :horizontal_form) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <%= f.input :email, required: true, hint: t('devise.views.currently_waiting_confirmation', email: resource.unconfirmed_email) %>
          <% else %>
            <%= f.input :email, required: true, hint: t('devise.views.change_email_warning') %>
          <% end %>

          <%= f.input :current_password, hint: t('devise.views.current_password_required'), required: true %>
          <%= f.input :password, autocomplete: "off", hint: t('devise.views.optional_new_password'), required: false %>
          <%= f.input :password_confirmation, required: false %>
        </div>

        <div class="form-group">
          <div class="col-sm-9 col-sm-offset-3">
            <%= f.button :submit, t('devise.views.update'), class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= render 'devise/shared/delete_account' %>
<% end %>
